In [2]:
import pandas as pd
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)
student_performance = pd.read_csv(r"C:\Users\HP\Downloads\student_data.csv")

In [5]:
student_performance.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [16]:
student_performance.loc[:,['G1','G2','G3']].agg(['mean','std','median'])

               G1         G2         G3
mean    10.908861  10.713924  10.415190
std      3.319195   3.761505   4.581443
median  11.000000  11.000000  11.000000

In [17]:
grade_growth = student_performance['G3'] - student_performance['G1']

In [21]:
grade_growth.name = 'Growth'

In [30]:
mask = grade_growth>=0
mask.sum()
mask1 = grade_growth<0

In [31]:
print(f'No of students that improved = {mask.sum()}')
print(f'No of students that declined = {mask1.sum()}')

No of students that improved = 236
No of students that declined = 159

In [36]:
mask = (student_performance.failures >= 2) & (student_performance.G3 >= 12)
student_performance[mask]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
314,GP,F,19,U,GT3,T,1,1,at_home,health,home,other,1,3,2,no,no,no,no,no,yes,yes,yes,4,1,2,1,1,3,14,15,13,13
376,MS,F,20,U,GT3,T,4,2,health,other,course,other,2,3,2,no,yes,yes,no,no,yes,yes,yes,5,4,3,1,1,3,4,15,14,15

In [37]:
mask1 = (student_performance.studytime<=2) & (student_performance.G3 >= 15)
student_performance[mask1]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10,15,15,15
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0,14,15,15
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,1,1,0,no,yes,yes,no,yes,yes,yes,no,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,2,15,15,16
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,1,1,0,no,no,yes,no,yes,yes,yes,no,2,2,4,2,4,1,4,15,16,15
31,GP,M,15,U,GT3,T,4,4,services,services,reputation,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,4,3,1,1,1,5,0,17,16,17
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,course,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,4,5,2,1,1,5,0,17,16,16
34,GP,M,16,U,GT3,T,3,2,other,other,home,mother,1,1,0,no,yes,yes,no,no,yes,yes,no,5,4,3,1,1,5,0,12,14,15
42,GP,M,15,U,GT3,T,4,4,services,teacher,course,father,1,2,0,no,yes,no,yes,yes,yes,yes,no,4,3,3,1,1,5,2,19,18,18
56,GP,F,15,U,GT3,A,4,3,services,services,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,1,0,14,15,15
57,GP,M,15,U,GT3,T,4,4,teacher,health,reputation,mother,1,2,0,no,yes,no,yes,yes,yes,no,no,3,2,2,1,1,5,4,14,15,15
59,GP,F,16,U,GT3,T,4,2,services,other,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,2,3,1,1,5,2,15,16,16
65,GP,F,16,U,LE3,T,4,3,teacher,services,course,mother,3,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,3,1,2,1,2,16,15,15
83,GP,M,15,U,LE3,T,2,2,services,services,home,mother,2,2,0,no,no,yes,yes,yes,yes,yes,no,5,3,3,1,3,4,4,15,15,15
91,GP,F,15,U,GT3,T,4,3,services,other,reputation,mother,1,1,0,no,no,yes,yes,yes,yes,yes,no,4,5,5,1,3,1,4,16,17,18
96,GP,M,16,R,GT3,T,4,3,services,other,reputation,mother,2,1,0,yes,yes,no,yes,no,yes,yes,no,3,3,3,1,1,4,2,11,15,15
104,GP,M,15,U,GT3,A,3,4,services,other,course,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,4,1,1,1,0,16,18,18
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,course,mother,1,1,0,no,no,no,yes,yes,yes,yes,no,5,5,3,1,1,4,6,18,19,19
113,GP,M,15,U,LE3,T,4,2,teacher,other,course,mother,1,1,0,no,no,no,no,yes,yes,yes,no,3,5,2,1,1,3,10,18,19,19
115,GP,M,16,U,GT3,T,4,4,teacher,teacher,course,father,1,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,1,2,5,2,15,15,16
120,GP,F,15,U,GT3,T,1,2,at_home,services,course,mother,1,2,0,no,no,no,no,no,yes,yes,no,3,2,3,1,2,1,2,16,15,15
129,GP,M,16,R,GT3,T,4,4,teacher,teacher,course,mother,1,1,0,no,no,yes,yes,yes,yes,yes,no,3,5,5,2,5,4,8,18,18,18
139,GP,F,15,U,GT3,T,4,4,teacher,teacher,course,mother,2,1,0,no,no,no,yes,yes,yes,yes,no,4,3,2,1,1,5,0,16,16,15
158,GP,M,16,R,GT3,T,2,2,at_home,other,course,mother,3,1,0,no,no,no,no,no,yes,no,no,4,2,2,1,2,3,2,17,15,15
167,GP,F,16,U,GT3,T,4,2,health,services,home,father,1,2,0,no,no,yes,no,yes,yes,yes,yes,4,2,3,1,1,3,0,14,15,16
171,GP,M,16,U,GT3,T,1,0,other,other,reputation,mother,2,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,3,2,1,1,3,2,13,15,16
182,GP,F,17,U,GT3,T,2,4,services,services,reputation,father,1,2,0,no,yes,no,yes,yes,yes,no,no,5,4,2,2,3,5,0,16,17,17
187,GP,M,16,U,LE3,T,2,1,other,other,course,mother,1,2,0,no,no,yes,yes,yes,yes,yes,yes,4,2,3,1,2,5,0,15,15,15
195,GP,F,17,U,LE3,T,2,4,services,services,course,father,1,2,0,no,no,no,yes,yes,yes,yes,yes,4,3,2,1,1,5,0,14,15,15
196,GP,M,17,U,GT3,T,4,4,services,teacher,home,mother,1,1,0,no,no,no,no,yes,yes,yes,no,5,2,3,1,2,5,4,17,15,16
198,GP,F,17,U,GT3,T,4,4,services,teacher,home,mother,2,1,1,no,yes,no,no,yes,yes,yes,no,4,2,4,2,3,2,24,18,18,18
200,GP,F,16,U,GT3,T,4,3,health,other,home,mother,1,2,0,no,yes,no,yes,yes,yes,yes,no,4,3,5,1,5,2,2,16,16,16
215,GP,F,17,U,LE3,T,3,2,other,other,reputation,mother,2,2,0,no,no,yes,no,yes,yes,yes,no,4,4,4,1,3,1,2,14,15,15
222,GP,F,16,U,GT3,T,2,3,services,teacher,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,2,3,1,1,1,3,2,16,16,17
226,GP,F,17,U,GT3,T,3,2,other,other,course,mother,1,2,0,no,no,no,yes,no,yes,yes,no,5,3,4,1,3,3,10,16,15,15
245,GP,M,16,U,GT3,T,2,1,other,other,course,mother,3,1,0,no,no,no,no,yes,yes,yes,no,4,3,3,1,1,4,6,18,18,18
249,GP,M,16,U,GT3,T,0,2,other,other,other,mother,1,1,0,no,no,yes,no,no,yes,yes,no,4,3,2,2,4,5,0,13,15,15
260,GP,F,18,U,GT3,T,4,3,services,other,home,father,1,2,0,no,yes,yes,no,yes,yes,yes,yes,3,1,2,1,3,2,21,17,18,18
265,GP,M,18,R,LE3,A,3,4,other,other,reputation,mother,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,2,5,3,4,1,13,17,17,17
289,GP,M,18,U,LE3,A,4,4,teacher,teacher,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,3,1,1,2,9,15,13,15
299,GP,M,18,U,LE3,T,4,4,teacher,teacher,home,mother,1,1,0,no,yes,yes,no,yes,yes,yes,yes,1,4,2,2,2,1,5,16,15,16
306,GP,M,20,U,GT3,A,3,2,services,other,course,other,1,1,0,no,no,no,yes,yes,yes,no,no,5,5,3,1,1,5,0,17,18,18
326,GP,M,17,U,GT3,T,3,3,other,services,reputation,mother,1,1,0,no,no,no,yes,no,yes,yes,no,4,3,5,3,5,5,3,14,15,16
342,GP,M,18,U,LE3,T,3,4,services,other,home,mother,1,2,0,no,no,no,yes,yes,yes,yes,yes,4,3,3,1,3,5,11,16,15,15
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,2,3,4,1,1,1,0,16,15,15
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,yes,no,yes,yes,yes,yes,4,1,3,1,2,1,0,15,15,15
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16

In [38]:
student_performance[student_performance.Dalc + student_performance.Walc >= 7]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,5,5,5,5,16,10,12,11
30,GP,M,15,U,GT3,T,4,4,health,services,home,mother,1,2,0,no,yes,yes,no,no,yes,yes,no,5,4,2,3,4,5,0,9,11,12
52,GP,M,15,U,LE3,A,4,2,health,health,other,father,2,1,1,no,no,no,no,yes,yes,no,no,5,5,5,3,4,5,6,11,11,10
54,GP,F,15,U,LE3,A,3,3,other,other,other,mother,1,1,0,no,no,yes,no,yes,yes,yes,no,5,3,4,4,4,1,6,10,13,13
61,GP,F,16,U,GT3,T,1,1,services,services,course,father,4,1,0,yes,yes,no,yes,no,yes,yes,yes,5,5,5,5,5,5,6,10,8,11
66,GP,M,15,U,GT3,A,4,4,other,services,reputation,mother,1,4,0,no,yes,no,yes,no,yes,yes,yes,1,3,3,5,5,3,4,13,13,12
89,GP,M,16,U,LE3,A,4,4,teacher,health,reputation,mother,1,2,0,no,yes,no,no,yes,yes,no,no,4,1,3,3,5,5,18,8,6,7
100,GP,M,16,U,GT3,T,4,4,services,services,other,mother,1,1,0,yes,yes,yes,yes,yes,yes,yes,no,4,5,5,5,5,4,14,7,7,5
108,GP,M,15,R,GT3,T,4,4,other,other,home,father,4,4,0,no,yes,yes,yes,yes,yes,yes,yes,1,3,5,3,5,1,6,10,13,13
129,GP,M,16,R,GT3,T,4,4,teacher,teacher,course,mother,1,1,0,no,no,yes,yes,yes,yes,yes,no,3,5,5,2,5,4,8,18,18,18
149,GP,M,15,U,LE3,A,2,1,services,other,course,mother,4,1,3,no,no,no,no,yes,yes,yes,no,4,5,5,2,5,5,0,8,9,10
150,GP,M,18,U,LE3,T,1,1,other,other,course,mother,1,1,3,no,no,no,no,yes,no,yes,yes,2,3,5,2,5,4,0,6,5,0
151,GP,M,16,U,LE3,T,2,1,at_home,other,course,mother,1,1,1,no,no,no,yes,yes,yes,no,yes,4,4,4,3,5,5,6,12,13,14
159,GP,M,16,U,GT3,T,3,3,other,services,course,father,1,2,1,no,yes,yes,no,yes,yes,yes,yes,4,5,5,4,4,5,4,10,12,12
175,GP,M,17,U,LE3,T,4,3,teacher,other,course,mother,2,2,0,no,no,yes,yes,yes,yes,yes,no,4,4,4,4,4,4,4,10,9,9
178,GP,M,16,R,GT3,T,4,2,teacher,services,other,mother,1,1,0,no,yes,no,yes,yes,yes,yes,yes,4,3,3,3,4,3,10,10,8,9
192,GP,M,17,U,GT3,T,1,2,at_home,services,other,other,2,2,0,no,no,yes,yes,no,yes,yes,no,4,4,4,4,5,5,12,7,8,8
193,GP,M,16,R,GT3,T,3,3,services,services,reputation,mother,1,1,0,no,yes,no,yes,yes,yes,yes,no,4,3,2,3,4,5,8,8,9,10
197,GP,M,16,R,LE3,T,3,3,teacher,other,home,father,3,1,0,no,yes,yes,yes,yes,yes,yes,no,3,3,4,3,5,3,8,9,9,10
205,GP,F,17,U,GT3,T,3,4,at_home,services,home,mother,1,3,1,no,yes,yes,no,yes,yes,yes,yes,4,4,3,3,4,5,28,10,9,9
211,GP,M,17,U,LE3,T,4,4,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,yes,5,3,5,4,5,3,13,12,12,13
223,GP,M,18,U,GT3,T,2,2,other,other,home,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,3,3,3,5,5,4,0,12,13,13
228,GP,M,18,U,LE3,T,2,1,at_home,other,course,mother,4,2,0,yes,yes,yes,yes,yes,yes,yes,yes,4,3,2,4,5,3,14,10,8,9
236,GP,M,17,U,LE3,T,2,2,other,other,home,father,1,2,0,no,no,yes,yes,no,yes,yes,yes,4,4,2,5,5,4,4,14,13,13
239,GP,M,18,U,GT3,T,2,2,other,services,reputation,father,1,2,1,no,no,no,no,yes,no,yes,no,5,5,4,3,5,2,0,7,7,0
247,GP,M,22,U,GT3,T,3,1,services,services,other,mother,1,1,3,no,no,no,no,no,no,yes,yes,5,4,5,5,5,1,16,6,8,8
252,GP,M,18,U,GT3,T,2,1,services,services,other,mother,1,1,1,no,no,no,no,no,no,yes,no,3,2,5,2,5,5,4,6,9,8
265,GP,M,18,R,LE3,A,3,4,other,other,reputation,mother,2,2,0,no,yes,yes,yes,yes,yes,yes,no,4,2,5,3,4,1,13,17,17,17
266,GP,M,17,U,GT3,T,3,1,services,other,other,mother,1,2,0,no,no,yes,yes,yes,yes,yes,yes,5,4,4,3,4,5,2,9,9,10
281,GP,M,17,U,LE3,A,3,2,teacher,services,home,mother,1,1,1,no,no,no,no,yes,yes,yes,no,4,4,4,3,4,3,19,11,9,10
318,GP,F,17,R,GT3,T,3,4,at_home,services,course,father,1,3,0,no,yes,yes,yes,no,yes,yes,no,4,3,4,2,5,5,0,11,11,10
326,GP,M,17,U,GT3,T,3,3,other,services,reputation,mother,1,1,0,no,no,no,yes,no,yes,yes,no,4,3,5,3,5,5,3,14,15,16
327,GP,M,17,R,GT3,T,2,2,services,other,course,mother,4,1,0,no,yes,no,no,yes,yes,yes,no,4,4,5,5,5,4,8,11,10,10
349,MS,M,18,R,GT3,T,3,2,other,other,course,mother,2,1,1,no,yes,no,no,no,yes,yes,no,2,5,5,5,5,5,10,11,13,13
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,1,2,0,no,no,yes,yes,yes,yes,yes,no,5,4,3,3,4,2,4,8,9,10
384,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,14,6,5,5
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10

In [3]:
student_performance.groupby('sex').G3.mean()

sex
F     9.966346
M    10.914439
Name: G3, dtype: float64

In [4]:
student_performance.groupby('school').G3.mean(

)

school
GP    10.489971
MS     9.847826
Name: G3, dtype: float64

In [5]:
student_performance.groupby('romantic').G3.mean()

romantic
no     10.836502
yes     9.575758
Name: G3, dtype: float64

In [10]:
student_performance.groupby('famsize').G3.mean().sort_values(ascending=False)

famsize
LE3    11.000000
GT3    10.177936
Name: G3, dtype: float64

In [11]:
student_performance.groupby('internet').G3.mean()

internet
no      9.409091
yes    10.617021
Name: G3, dtype: float64

In [15]:
student_performance.groupby('address').G3.mean()

address
R     9.511364
U    10.674267
Name: G3, dtype: float64

In [17]:
parent_edu_avg = (student_performance.Medu + student_performance.Fedu) / 2

In [18]:
parent_edu_avg

0      4.0
1      1.0
2      1.0
3      3.0
4      3.0
      ...
390    2.0
391    2.0
392    1.0
393    2.5
394    1.0
Length: 395, dtype: float64

In [20]:
student_performance.groupby('failures').G3.mean()

failures
0    11.253205
1     8.120000
2     6.235294
3     5.687500
Name: G3, dtype: float64

In [22]:
df = pd.read_csv(r"C:\Users\HP\Downloads\student_data.csv")

In [23]:
df['parent_edu_avg'] = (df['Medu'] + df['Fedu']) / 2

In [24]:
df['parent_edu_level'] = pd.cut(
    df['parent_edu_avg'],
    bins=[0, 1.5, 3, 4],
    labels=['Low', 'Medium', 'High']
)

In [25]:
df.groupby('parent_edu_level')['G3'].mean().sort_values(ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_2816\680934648.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('parent_edu_level')['G3'].mean().sort_values(ascending=False)

parent_edu_level
High      11.335938
Medium    10.398907
Low        9.047619
Name: G3, dtype: float64

In [26]:
df['lifestyle_score'] = (
    df['freetime'] + df['goout'] + df['Dalc'] + df['Walc']
)

In [27]:
df['lifestyle_score_norm'] = (
    (df['lifestyle_score'] - df['lifestyle_score'].min()) /
    (df['lifestyle_score'].max() - df['lifestyle_score'].min())
)

In [28]:
df['lifestyle_score_norm'].corr(df['G3'])

np.float64(-0.08269094758766173)

In [29]:
top_fun = df.nlargest(int(0.25 * len(df)), 'lifestyle_score_norm')['G3'].mean()
low_fun = df.nsmallest(int(0.25 * len(df)), 'lifestyle_score_norm')['G3'].mean()
top_fun, low_fun

(np.float64(9.908163265306122), np.float64(11.316326530612244))

In [30]:
df.groupby('failures')['G3'].mean()

failures
0    11.253205
1     8.120000
2     6.235294
3     5.687500
Name: G3, dtype: float64

In [31]:
df.assign(passed=df['G3'] >= 10) \
  .groupby('failures')['passed'] \
  .mean()

failures
0    0.750000
1    0.480000
2    0.176471
3    0.250000
Name: passed, dtype: float64

In [32]:
df['absences'].corr(df['G3'])

np.float64(0.03424731615006931)

In [33]:
low_abs = df.nsmallest(int(0.1 * len(df)), 'absences')['G3'].mean()
high_abs = df.nlargest(int(0.1 * len(df)), 'absences')['G3'].mean()
low_abs, high_abs

(np.float64(10.256410256410257), np.float64(9.692307692307692))

In [36]:
df['paid']

0       no
1       no
2      yes
3      yes
4      yes
      ...
390    yes
391     no
392     no
393     no
394     no
Name: paid, Length: 395, dtype: object

In [39]:
df[(df.internet == 'yes') & (df.paid == 'yes') & (df.studytime >= 3) & (df['G3']<df['G3'].mean()) ]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,parent_edu_avg,parent_edu_level,lifestyle_score,lifestyle_score_norm
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,4,3,2,1,1,5,2,10,9,8,3.0,Medium,7,0.1875
63,GP,F,16,U,GT3,T,4,3,teacher,health,home,mother,1,3,0,yes,yes,yes,yes,yes,yes,yes,no,3,4,4,2,4,4,2,10,9,9,3.5,High,14,0.6250
67,GP,F,16,U,GT3,T,3,1,services,other,course,mother,1,4,0,yes,yes,yes,no,yes,yes,yes,no,4,3,3,1,2,5,4,7,7,6,2.0,Medium,9,0.3125
90,GP,F,16,U,GT3,T,3,3,other,other,home,mother,1,3,0,no,yes,yes,no,yes,yes,yes,yes,4,3,3,1,3,4,0,7,7,8,3.0,Medium,10,0.3750
95,GP,F,15,R,GT3,T,1,1,at_home,other,home,mother,2,4,1,yes,yes,yes,yes,yes,yes,yes,no,3,1,2,1,1,1,2,7,10,10,1.0,Low,5,0.0625
99,GP,F,16,U,GT3,T,4,3,other,at_home,course,mother,1,3,0,yes,yes,yes,no,yes,yes,yes,no,5,3,5,1,1,3,0,7,9,8,3.5,High,10,0.3750
106,GP,F,15,U,GT3,T,2,2,other,other,course,mother,1,4,0,yes,yes,yes,no,yes,yes,yes,no,5,1,2,1,1,3,8,7,8,8,2.0,Medium,5,0.0625
152,GP,F,15,R,GT3,T,3,3,services,services,reputation,other,2,3,2,no,yes,yes,yes,yes,yes,yes,yes,4,2,1,2,3,3,8,10,10,10,3.0,Medium,8,0.2500
205,GP,F,17,U,GT3,T,3,4,at_home,services,home,mother,1,3,1,no,yes,yes,no,yes,yes,yes,yes,4,4,3,3,4,5,28,10,9,9,3.5,High,14,0.6250
209,GP,F,17,R,GT3,T,4,3,teacher,other,reputation,mother,2,3,0,no,yes,yes,yes,yes,yes,yes,yes,4,4,2,1,1,4,6,7,7,7,3.5,High,8,0.2500
210,GP,F,19,U,GT3,T,3,3,other,other,reputation,other,1,4,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,2,3,10,8,8,8,3.0,Medium,9,0.3125
219,GP,F,17,U,GT3,T,2,2,at_home,at_home,course,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,4,3,3,1,1,4,4,9,10,10,2.0,Medium,8,0.2500
244,GP,F,18,U,GT3,T,2,1,other,other,course,other,2,3,0,no,yes,yes,no,no,yes,yes,yes,4,4,4,1,1,3,0,7,0,0,1.5,Low,10,0.3750
259,GP,F,17,U,LE3,T,2,2,services,services,course,father,1,4,0,no,no,yes,yes,yes,yes,yes,yes,3,4,1,1,1,2,0,10,9,0,2.0,Medium,7,0.1875
264,GP,F,18,U,GT3,T,2,2,at_home,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,4,3,3,1,1,3,0,9,10,0,2.0,Medium,8,0.2500
317,GP,F,18,U,GT3,T,4,3,other,other,course,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,4,3,4,1,1,5,9,9,10,9,3.5,High,9,0.3125
318,GP,F,17,R,GT3,T,3,4,at_home,services,course,father,1,3,0,no,yes,yes,yes,no,yes,yes,no,4,3,4,2,5,5,0,11,11,10,3.5,High,14,0.6250
328,GP,F,17,U,GT3,T,4,4,teacher,services,course,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,no,5,4,4,1,3,4,7,10,9,9,4.0,High,12,0.5000
347,GP,M,18,U,GT3,T,4,3,teacher,other,course,mother,1,3,0,no,yes,yes,no,yes,yes,yes,yes,5,4,5,2,3,5,0,10,10,9,3.5,High,14,0.6250

In [42]:
binary_cols = [
    'schoolsup','famsup','paid','activities','nursery',
    'higher','internet','romantic'
]

df[binary_cols] = df[binary_cols].apply(lambda x: x.map({'yes':1, 'no':0}))
df[binary_cols]

     schoolsup  famsup  paid  activities  nursery  higher  internet  romantic
0          NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
1          NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
2          NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
3          NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
4          NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
..         ...     ...   ...         ...      ...     ...       ...       ...
390        NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
391        NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
392        NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
393        NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN
394        NaN     NaN   NaN         NaN      NaN     NaN       NaN       NaN

[395 rows x 8 columns]

In [43]:
cat_cols = ['school','sex','address','famsize','Pstatus',
            'Mjob','Fjob','reason','guardian']

df_ml = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [44]:
X = df_ml.drop(columns=['G3'])
y = df_ml['G3']

X.shape, y.shape

((395, 45), (395,))

In [45]:
X

,age,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,parent_edu_avg,parent_edu_level,lifestyle_score,lifestyle_score_norm,school_MS,sex_M,address_U,famsize_LE3,Pstatus_T,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other
0,18,4,4,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,1,1,3,6,5,6,4.0,High,9,0.3125,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
1,17,1,1,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3,3,1,1,3,4,5,5,1.0,Low,8,0.2500,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False
2,15,1,1,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,2,3,3,10,7,8,1.0,Low,10,0.3750,False,False,True,True,True,False,False,False,False,False,True,False,False,False,True,False,True,False
3,15,4,2,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,2,1,1,5,2,15,14,3.0,Medium,6,0.1250,False,False,True,False,True,True,False,False,False,False,False,True,False,True,False,False,True,False
4,16,3,3,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,1,2,5,4,6,10,3.0,Medium,8,0.2500,False,False,True,False,True,False,True,False,False,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,4,4,5,4,11,9,9,2.0,Medium,18,0.8750,True,True,True,True,False,False,False,True,False,False,False,True,False,False,False,False,False,True
391,17,3,1,2,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,5,3,4,2,3,14,16,2.0,Medium,16,0.7500,True,True,True,True,True,False,False,True,False,False,False,True,False,False,False,False,True,False
392,21,1,1,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,3,3,3,3,3,10,8,1.0,Low,14,0.6250,True,True,False,False,True,False,True,False,False,False,True,False,False,False,False,False,False,True
393,18,3,2,3,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,1,3,4,5,0,11,12,2.5,Medium,12,0.5000,True,True,False,True,True,False,False,True,False,False,True,False,False,False,False,False,True,False
394,19,1,1,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,3,3,3,5,5,8,9,1.0,Low,11,0.4375,True,True,True,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False

In [46]:
df.assign(passed=df['G3'] >= 10) \
  .groupby(['sex','school'])['passed'] \
  .mean()

sex  school
F    GP        0.633880
     MS        0.680000
M    GP        0.722892
     MS        0.571429
Name: passed, dtype: float64