In [1]:
import pandas as pd
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [3]:
people = {
    "first":["Corey","John","Jane"],
    "last":["Shaufer","Doe","Doe"],
    "email":["Corey@gmail.com","John@yahoo.com","Jane@ncit.edu.np"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [6]:
df.email

0     Corey@gmail.com
1      John@yahoo.com
2    Jane@ncit.edu.np
Name: email, dtype: object

In [21]:
df.set_index("email",inplace = True)

In [22]:
df

                  first     last
email
Corey@gmail.com   Corey  Shaufer
John@yahoo.com     John      Doe
Jane@ncit.edu.np   Jane      Doe

In [17]:
df.loc['Corey@gmail.com','first']

'Corey'

In [18]:
df.iloc[0]

first      Corey
last     Shaufer
Name: Corey@gmail.com, dtype: object