In [1]:
import pandas as pd

In [7]:
people = {
    "first":["Corey","John","Jane",'Adam'],
    "last":["Shaufer","Doe","Doe",'Doe'],
    "email":["Corey@gmail.com","John@yahoo.com","Jane@ncit.edu.np",'DoeAdam@gmail.com']
}

In [8]:
df = pd.DataFrame(people)

In [4]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [5]:
df.sort_values(by='last')

   first     last             email
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np
0  Corey  Shaufer   Corey@gmail.com

In [10]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True,ignore_index=True)

In [11]:
df

   first     last              email
0  Corey  Shaufer    Corey@gmail.com
1   Adam      Doe  DoeAdam@gmail.com
2   Jane      Doe   Jane@ncit.edu.np
3   John      Doe     John@yahoo.com