In [1]:
import pandas as pd
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [2]:
people = {
    "first":["Corey","John","Jane"],
    "last":["Shaufer","Doe","Doe"],
    "email":["Corey@gmail.com","John@yahoo.com","Jane@ncit.edu.np"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [7]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [8]:
df.columns = [x.upper() for x in df.columns]

In [13]:
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [22]:
df.columns = [x.replace(" ","_") for x in df.columns]
df.columns = df.columns.str.lower()
#df.columns.str.replace(' ',' _')
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [23]:
df.rename(columns = {'first_name':'first','last_name':'last','email':'email'},inplace = True)

In [24]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [27]:
df.loc[2,'last'] = 'Smith'

In [40]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [55]:
df['email'] = df['email'].str.upper()

In [56]:
df

   first     last             email
0  Corey  Shaufer   COREY@GMAIL.COM
1   John      Doe    JOHN@YAHOO.COM
2   Jane      Doe  JANE@NCIT.EDU.NP

In [57]:
df.email = df.email.str.lower()

In [5]:
df

   first     last             email
0  Corey  Shaufer   Corey@gmail.com
1   John      Doe    John@yahoo.com
2   Jane      Doe  Jane@ncit.edu.np

In [10]:
df.loc[:,'email'].apply(len)

0    15
1    14
2    16
Name: email, dtype: int64

In [12]:
def update_email(email):
    return email.upper()

In [14]:
df.email.apply(lambda email: email.upper())

0     COREY@GMAIL.COM
1      JOHN@YAHOO.COM
2    JANE@NCIT.EDU.NP
Name: email, dtype: object

In [16]:
df.apply(len,axis='index')

first    3
last     3
email    3
dtype: int64

In [19]:
df.apply(pd.Series.min)

first              Corey
last                 Doe
email    Corey@gmail.com
dtype: object

In [20]:
df.apply(lambda col: col.min())

first              Corey
last                 Doe
email    Corey@gmail.com
dtype: object

In [22]:
df.map(len)

   first  last  email
0      5     7     15
1      4     3     14
2      4     3     16

In [23]:
df.map(str.lower)

   first     last             email
0  corey  shaufer   corey@gmail.com
1   john      doe    john@yahoo.com
2   jane      doe  jane@ncit.edu.np

In [28]:
df.loc[:,'first'].map({'Corey':'Arthur'})

0    Arthur
1       NaN
2       NaN
Name: first, dtype: object

In [29]:
df['first'].replace({'Corey':'Arthur'})

0    Arthur
1      John
2      Jane
Name: first, dtype: object